@model Suma2Lealtad.Models.ViewModels.Home.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <div class="panel-heading clearfix">
        <div class="editor-label col-md-7 ">
            <img src="~/Images/principal.jpg">
        </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="editor-field col-md-4" style="margin-top: 80px;" aria-required="true">
                <div>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder ="Usuario" })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder ="Contraseña" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                </div>
                <br />
                <input id="iniciarsesion" type="submit" class="btn btn-success btn-md" name="Command" value="Iniciar Sesión">
                <input id="olvidocontraseña" type="submit" class="btn btn-success btn-md" name="Command" value="Olvido contraseña">
            </div>
        }
    </div>
</div>